<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cbuc.blog.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="cbuc.blog.bean.Comment">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="ORIGIN" jdbcType="VARCHAR" property="origin" />
    <result column="LOGIN_IP" jdbcType="VARCHAR" property="loginIp" />
    <result column="COMMENTOR" jdbcType="BIGINT" property="commentor" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="LIKE_COUNT" jdbcType="INTEGER" property="likeCount" />
    <result column="COMMENT_COUNT" jdbcType="INTEGER" property="commentCount" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="DEF1" jdbcType="VARCHAR" property="def1" />
    <result column="DEF2" jdbcType="VARCHAR" property="def2" />
    <result column="DEF3" jdbcType="VARCHAR" property="def3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PARENT_ID, TYPE, ORIGIN, LOGIN_IP, COMMENTOR, CONTENT, LIKE_COUNT, COMMENT_COUNT, 
    CREATE_TIME, STATUS, DEF1, DEF2, DEF3
  </sql>
  <select id="selectByExample" parameterType="cbuc.blog.bean.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bg_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bg_comment
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bg_comment
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cbuc.blog.bean.CommentExample">
    delete from bg_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="cbuc.blog.bean.Comment" useGeneratedKeys="true">
    insert into bg_comment (PARENT_ID, TYPE, ORIGIN, 
      LOGIN_IP, COMMENTOR, CONTENT, 
      LIKE_COUNT, COMMENT_COUNT, CREATE_TIME, 
      STATUS, DEF1, DEF2, 
      DEF3)
    values (#{parentId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{origin,jdbcType=VARCHAR}, 
      #{loginIp,jdbcType=VARCHAR}, #{commentor,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, 
      #{likeCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, 
      #{def3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="cbuc.blog.bean.Comment" useGeneratedKeys="true">
    insert into bg_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="origin != null">
        ORIGIN,
      </if>
      <if test="loginIp != null">
        LOGIN_IP,
      </if>
      <if test="commentor != null">
        COMMENTOR,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="likeCount != null">
        LIKE_COUNT,
      </if>
      <if test="commentCount != null">
        COMMENT_COUNT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="def1 != null">
        DEF1,
      </if>
      <if test="def2 != null">
        DEF2,
      </if>
      <if test="def3 != null">
        DEF3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="origin != null">
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="commentor != null">
        #{commentor,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null">
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cbuc.blog.bean.CommentExample" resultType="java.lang.Long">
    select count(*) from bg_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bg_comment
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.parentId != null">
        PARENT_ID = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.origin != null">
        ORIGIN = #{record.origin,jdbcType=VARCHAR},
      </if>
      <if test="record.loginIp != null">
        LOGIN_IP = #{record.loginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.commentor != null">
        COMMENTOR = #{record.commentor,jdbcType=BIGINT},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.likeCount != null">
        LIKE_COUNT = #{record.likeCount,jdbcType=INTEGER},
      </if>
      <if test="record.commentCount != null">
        COMMENT_COUNT = #{record.commentCount,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.def1 != null">
        DEF1 = #{record.def1,jdbcType=VARCHAR},
      </if>
      <if test="record.def2 != null">
        DEF2 = #{record.def2,jdbcType=VARCHAR},
      </if>
      <if test="record.def3 != null">
        DEF3 = #{record.def3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bg_comment
    set ID = #{record.id,jdbcType=BIGINT},
      PARENT_ID = #{record.parentId,jdbcType=BIGINT},
      TYPE = #{record.type,jdbcType=VARCHAR},
      ORIGIN = #{record.origin,jdbcType=VARCHAR},
      LOGIN_IP = #{record.loginIp,jdbcType=VARCHAR},
      COMMENTOR = #{record.commentor,jdbcType=BIGINT},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      LIKE_COUNT = #{record.likeCount,jdbcType=INTEGER},
      COMMENT_COUNT = #{record.commentCount,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=VARCHAR},
      DEF1 = #{record.def1,jdbcType=VARCHAR},
      DEF2 = #{record.def2,jdbcType=VARCHAR},
      DEF3 = #{record.def3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cbuc.blog.bean.Comment">
    update bg_comment
    <set>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="origin != null">
        ORIGIN = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="loginIp != null">
        LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="commentor != null">
        COMMENTOR = #{commentor,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null">
        LIKE_COUNT = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        COMMENT_COUNT = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="def1 != null">
        DEF1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        DEF2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        DEF3 = #{def3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cbuc.blog.bean.Comment">
    update bg_comment
    set PARENT_ID = #{parentId,jdbcType=BIGINT},
      TYPE = #{type,jdbcType=VARCHAR},
      ORIGIN = #{origin,jdbcType=VARCHAR},
      LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      COMMENTOR = #{commentor,jdbcType=BIGINT},
      CONTENT = #{content,jdbcType=VARCHAR},
      LIKE_COUNT = #{likeCount,jdbcType=INTEGER},
      COMMENT_COUNT = #{commentCount,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      DEF1 = #{def1,jdbcType=VARCHAR},
      DEF2 = #{def2,jdbcType=VARCHAR},
      DEF3 = #{def3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>

    <select id="queryLast" resultType="cbuc.blog.bean.Comment">
      SELECT  *  FROM bg_comment t1
      where t1.type = 1
      ORDER BY  ABS(NOW() - t1.CREATE_TIME) ASC
      limit 1;
    </select>
    <select id="queryNowday" resultType="integer">
      SELECT count(*) FROM bg_comment t1
      where DATE_FORMAT(t1.CREATE_TIME,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d');
    </select>
    <select id="queryTotal" resultType="integer">
      SELECT count(*) FROM bg_comment t1 where t1.status != 'D'
    </select>
    <update id="doLike">
    update bg_comment set like_count = like_count + #{param1}
    where id = #{param2}
    </update>
    <update id="addCommentCount">
    update bg_comment set comment_count = comment_count + 1
    where id = #{param1}
    </update>
</mapper>